.profile {
  display: flex;
  margin: 0 auto 50px;
  align-items: center;
  max-width: 880px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: nowrap;
}

@media (max-width: 920px) {
  .profile {
    flex-direction: column;
    margin: 0 19px 36px;
  }
}

