.elements {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto 0;
  max-width: 880px;
  justify-content: start;
}

@media (max-width: 320px) {
  .elements {
    margin: 0 19px 0;
  }
}
